.characters ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}

.characters-input {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
}

.characters-input > label {
  display: flex;
  gap: 0.5rem;
}

.characters-input > label > img {
  max-width: 1.5rem;
}

.characters-list > p {
  margin-bottom: 1rem;
}
