.pagination {
  margin: 1rem 0;
}

.pagination li {
  text-align: center;
}

.pagination li {
  width: 1rem;
}

.pagination li:first-child {
  flex: auto;
  text-align: right;
}

.pagination li:last-child {
  flex: auto;
  text-align: left;
}
