.container {
  max-width: 95%;
  margin: auto;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 2px;
  background-color: transparent;
  color: black;

  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 1rem black;
}

.btn-active {
  background-color: black;
  color: white;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    max-width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 85%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 70%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 60%;
  }
}
